################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ordina.StichtingNuTwente/.vs/Ordina.StichtingNuTwente/v17
/Ordina.StichtingNuTwente/.vs/Ordina.StichtingNuTwente
