@using Ordina.StichtingNuTwente.Models.Models
@model IEnumerable<Reactie>
@{
    ViewData["Title"] = "AwnserOverview";
}

<h1>Binnengekregen formulieren</h1>

<table class="formtable">
    <thead>
    <th>Type formulier</th>
    <th>Datum ingevuld</th>
    </thead>
    <tbody>
        @foreach (Reactie reaction in Model)
        {
            <tr id="@reaction.Id">
                <td>@reaction.FormulierId</td>
                <td>@reaction.DatumIngevuld</td>
            </tr>
        }
    </tbody>

</table>

