html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-y: scroll;
}


.formtable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.formtable td, .formtable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.formtable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.formtable tr:hover {
    background-color: #ddd;
}

.formtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
a.badge
{
    text-decoration:none
}
    a.badge:hover {
        text-decoration: none;
        color: #F9DD16 !important;
    }
.badge-info {
    color: #fff;
    background-color: #3A75C4;
}
.float-right{
    float:right;
}

input:invalid {
    border-left: 5px solid #a94442;
}





[class^="field-invalid"] {
    display: none;
}

form.was-validated input:invalid ~ .field-invalid {
    display: block;
    color: red;
}
input.contains-cyrilic ~ .field-invalid-cyrilic {
    display: block;
    color: red;
}
input.invalid-postcode ~ .field-invalid-postcode {
    display: block;
    color: red;
}

input.invalid-email ~ .field-invalid-email {
    display: block;
    color: red;
}

input.invalid-phoneNumber ~ .field-invalid-phoneNumber {
    display: block;
    color: red;
}

.full-width {
    width: 100%;
}
.centered {
    text-align: center;
}
.centered-icon {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.small-row {
    margin-left: 0px;
    margin-right: 0px;
}

.small-card {
    padding-top: 1px;
    padding-bottom: 1px;
}

.hidden { 
    display : none;
}

.hoverable:hover {
    cursor: pointer;
}

.dark-row {
    background-color: #f2f2f2;
}
.light-row {
    background-color: #ffffff;
}


.fixed-table {
    table-layout: fixed;
}

.width-100 {
    width:100%;
}

.fixed-table td {
    word-wrap: break-word;
}

.small-text {
    font-size: small;
    margin: 0;
    padding: 0;
}

.unseen {
    border-right: 4px solid orange;
    border-left: 4px solid orange;
}