@{
    ViewData["Title"] = "Bedankt";
}

<div style="text-align:center">
    <h1>@ViewData["Title"]</h1>

    <p>Het formulier is succesvol opgeslagen.</p>

    <b>Let op:</b>
    <p>U krijgt een bevestiging per mail, deze kan in de spam folder belanden Mocht dit gebeuren dan raden wij aan het afzendadres te markeren als geen-spam.</p>

    @if (!User.Identity.IsAuthenticated)
    {
        <a href="https://www.nutwente.nl/" class="btn btn-primary">Terug naar nutwente.nl</a>
    }
</div>