@{
    ViewData["Title"] = "Sorry, er ging iets mis";
}
<div style="display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;">
    <div style="text-align:center">

        <h1>@ViewData["Title"]</h1>

        <p>Er is iets mis gegaan. Dat is natuurlijk niet de bedoeling. We werken er hard aan om dit te repareren. Bedankt voor uw begrip!</p>

        @if (!User.Identity.IsAuthenticated)
        {
            <p>In de tussentijd kunt u ons bereiken via: <a href="mailto:h%65%6cp@nutwent%65%2e%6el"> help@nutwente.nl</a>.</p>
            <a href="https://www.nutwente.nl/" class="btn btn-primary">Terug naar nutwente.nl</a>
        }
    </div>
</div>

