@{
    ViewData["Title"] = "Downloads";
}
<div class="row">
    <div class="col">
<h2>@ViewData["Title"]</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <h5>
            Gastgezinnen per gemeente
            <a href="/Document/GetGastgezinnnenPerGemeente" class="btn btn-primary float-end">Download</a>
        </h5>
    </div>  
</div>
<hr />
<div class="row">
    <div class="col">
        <h5>
            Datadump
            <a href="/Document/Datadump" class="btn btn-warning float-end">Download</a>
        </h5>
    </div>
</div>
